<div class="page-wrapper">
    

     


 <header class="header header-9">
    <div class="header-middle sticky-header">
        <div class="container-fluid">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>
                
                <a href="/" class="logo">
                    <!-- <img src=" /images/demos/demo-12/logo.png" alt="Molla Logo" width="82" height="25"> -->
                    <h5 class="m-auto text-white">F A S H I O N B Y T E S</h5>

                </a>
            </div><!-- End .header-left -->

            <div class="header-right">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container ">
                            <a href="/" class="">Home</a>

                             
                        </li>
                        <li>
                            <a href="/shop" class="">Shop</a>

                             
                        </li>
                        <li>
                            <a href="/shop" class="">Product</a>

                             
                        </li>
                        <li>
                            <a href="/accounts" class="">Accounts</a>

                             
                        </li>
                        <!-- <li>
                            <a href="blog.html" class="">Blog</a>

                            
                        </li> -->
                        <li>
                            <a href="/orders" class="">Orders</a>

                            
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->

                <div class="header-search">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper">
                            <label for="q" class="sr-only">Search</label>
                            <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
                
                <div class="dropdown cart-dropdown">
                    <a href="/cart" class="dropdown-toggle" role="button">
                        <i class="icon-shopping-cart"></i>
                        <!-- <span class="cart-count"></span> -->
                        <!--<span class="cart-txt">$ 164,00</span>-->
                    </a>

                     
                </div><!-- End .cart-dropdown -->

                <div class="dropdown cart-dropdown" >
                     

                     
                </div><!-- End .cart-dropdown -->
                   
                <% if(locals.user){ %>
                    <ul style="list-style: none;" class="d-flex m-auto"> 
                    <li style="list-style: none;"><a href="/logout" onclick="return confirm('Are you sure want to log out');" class="text-white"><i class="icon-user" ></i>Logout</a></li>
                     <li style="list-style: none;" ><a href class="text-white ml-2"><i class="icon-user"></i><%=(user.name)%></a></li>
                    <% } else{ %>

                    <li style="list-style: none;" class=""><a href="/login" class="text-white"><i class="icon-user"></i>Login</a></li>
                    </ul>
                    <% } %>
                    
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
</header><!-- End .header -->

<main class="main">
    <div class="intro-slider-container mb-3 mb-lg-5">
        <div class="intro-slider owl-carousel owl-simple owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav":false, "dots": false, "loop": false}'>
            <div class="intro-slide"  style="background-image: url( /product-images/<%=mainBanner.image%>);">
                <div class="container intro-content text-center">
                    <h3 class="intro-subtitle text-white"><%=mainBanner.description%></h3><!-- End .h3 intro-subtitle -->
                    <h1 class="intro-title text-white"><%=mainBanner.title%></h1><!-- End .intro-title -->

                    <a href="<%=mainBanner.url%>" class="btn btn-outline-white">
                        <span>DISCOVER MORE</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div><!-- End .intro-content -->
            </div><!-- End .intro-slide -->
        </div><!-- End .intro-slider owl-carousel owl-simple -->

        <span class="slider-loader text-white"></span><!-- End .slider-loader -->
    </div><!-- End .intro-slider-container -->

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner banner-display banner-link-anim banner-title-hidden">
                    <a href="#">
                        <img src="https://mir-s3-cdn-cf.behance.net/projects/max_808_webp/4e6aa2159500313.Y3JvcCwxODExLDE0MTcsMzEzLDA.jpg" alt="Banner">
                    </a>

                    <div class="banner-content banner-content-center">
                        <h3 class="banner-title text-white"><a href="#">This Week's Most Wanted</a></h3><!-- End .banner-title -->
                        <a href="#" class="btn btn-outline-white banner-link">Shop Now</a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-md-6 -->

            <div class="col-md-6">
                <div class="banner banner-display banner-link-anim banner-title-hidden">
                    <a href="#">
                        <img src="https://mir-s3-cdn-cf.behance.net/projects/max_808_webp/519eeb148218759.Y3JvcCwyMzAxLDE4MDAsNTEsMA.jpg" alt="Banner">
                    </a>

                    <div class="banner-content banner-content-center">
                        <h3 class="banner-title text-white"><a href="#">Trending</a></h3><!-- End .banner-title -->
                        <a href="#" class="btn btn-outline-white banner-link">Discover Now</a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
                <!-- <div class="banner banner-display banner-link-anim banner-title-hidden">
                    <a href="#">
                        <img src="https://images.pexels.com/photos/261599/pexels-photo-261599.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Banner">
                    </a>

                    <div class="banner-content banner-content-center">
                        <h3 class="banner-title text-white"><a href="#">The Trend Story</a></h3> 
                        <a href="#" class="btn btn-outline-white banner-link">Shop Now</a>
                    </div>   -->
                      <!-- End .banner-content -->


                </div><!-- End .banner -->
            </div><!-- End .col-md-6 -->
        </div><!-- End .row -->

        <div class="mb-3"></div><!-- End .mb-3 -->
    </div><!-- End .container -->

    <div class="bg-lighter pt-5 pb-5 mb-5">
        <div class="container">
            <div class="heading text-center mb-4">
                <h2 class="title">Recent Arrivals</h2><!-- End .title -->
                <p class="title-desc">Aliquam tincidunt mauris eurisus</p><!-- End .title-desc -->
            </div><!-- End .heading -->

            <div class="owl-carousel owl-simple" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":4,
                            "nav": true
                        }
                    }
                }'>

                <%products.forEach((products)=>{%> 
                <div class="product product-4">
                    <figure class="product-media">
                        <a href="/product-detail/<%-products._id%>">
                            <img src="/product-images/<%=products.img[0]%>" alt="Product image" class="product-image">
                            <img src="/product-images/<%=products.img[1]%>" alt="Product image" class="product-image-hover">
                        </a>

                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                        </div><!-- End .product-action -->

                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#"><%=products.category%></a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="product.html"><%=products.name%></a></h3><!-- End .product-title -->
                        <div class="product-price">
                            ₹<%=products.price%>
                        </div><!-- End .product-price -->
                        <div class="product-nav product-nav-dots">
                            <a href="#" class="active" style="background: #e5dcb1;"><span class="sr-only">Color name</span></a>
                            <a href="#" style="background: #bacbd8;"><span class="sr-only">Color name</span></a>
                        </div><!-- End .product-nav -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->

                <%})%>  

                 
            </div><!-- End .owl-carousel -->
        </div><!-- End .container -->
    </div><!-- End .bg-lighter pt-5 pb-5 -->

    <div class="container">
        <div class="heading text-center mb-4">
            <h2 class="title">Popular Categories</h2><!-- End .title -->
            <p class="title-desc">Shop By Categories</p><!-- End .title-desc -->
        </div><!-- End .heading -->

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="banner banner-display banner-link-anim">
                    <a href="#">
                        <img src="https://images.pexels.com/photos/13882714/pexels-photo-13882714.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Banner">
                    </a>

                    <div class="banner-content banner-content-center">
                        <h3 class="banner-title text-white"><a href="#">Womens</a></h3><!-- End .banner-title -->
                        <h4 class="banner-subtitle text-white"><a href="#">16 Items</a></h4><!-- End .banner-subtitle -->
                        <a href="/womens-category" class="btn btn-outline-white banner-link">Shop Now</a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-sm-6 -->

            <div class="col-sm-6 col-lg-4 order-lg-last">
                <div class="banner banner-display banner-link-anim">
                    <a href="#">
                        <img src="https://images.pexels.com/photos/9558581/pexels-photo-9558581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Banner">
                    </a>

                    <div class="banner-content banner-content-center">
                        <h3 class="banner-title text-white"><a href="#">Mens</a></h3><!-- End .banner-title -->
                        <h4 class="banner-subtitle text-white"><a href="#">8 Items</a></h4><!-- End .banner-subtitle -->
                        <a href="/mens-category" class="btn btn-outline-white banner-link">Shop Now</a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-sm-6 -->

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-sm-6 col-lg-12">
                        <div class="banner banner-display banner-link-anim">
                            <a href="#">
                                <img src="https://images.pexels.com/photos/35188/child-childrens-baby-children-s.jpg?auto=compress&cs=tinysrgb&w=600" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-title text-white"><a href="#">Kids</a></h3><!-- End .banner-title -->
                                <h4 class="banner-subtitle text-white"><a href="#">24 Items</a></h4><!-- End .banner-subtitle -->
                                <a href="/kids-category" class="btn btn-outline-white banner-link">Discover Now</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 -->

                    <!-- <div class="col-sm-6 col-lg-12">
                        <div class="banner banner-display banner-link-anim">
                            <a href="#">
                                <img src="https://images.pexels.com/photos/2294403/pexels-photo-2294403.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-center">
                                <h3 class="banner-title text-white"><a href="#">Sports Wear</a></h3> 
                                <h4 class="banner-subtitle text-white"><a href="#">6 Items</a></h4> 
                                <a href="#" class="btn btn-outline-white banner-link">Shop Now</a>
                            </div> 
                        </div> 
                    </div> 
                     -->
                    
                          <!-- End .col-sm-6 -->
                </div><!-- End .row -->
            </div><!-- End .col-lg-6 -->
        </div><!-- End .row -->

        <div class="icon-boxes-container bg-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-rocket"></i>
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                <p>Orders $50 or more</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-rotate-left"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                <p>Within 30 days</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-info-circle"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                <p>When you sign up</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-life-ring"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                <p>24/7 amazing services</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .icon-boxes-container -->
    </div><!-- End .container -->
  </main><!-- End .main -->
</div>













 



